[run]
branch = True
source =
    backend
    pb_studio
omit =
    Tests/*
    */Generated/*

[report]
fail_under = 53
precision = 1
show_missing = True
skip_covered = True

[json]
pretty_print = True
