QStatusBar {
    background-color: #1e2124;
    color: #aaaaaa;
}
QTextEdit {
    background-color: #1e2124;
    font-size: 13px;
    border: 1px solid #3a4048;
}
QPlainTextEdit {
    background-color: #1e2124;
    font-size: 13px;
    border: 1px solid #3a4048;
}
